.about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-block: var(--space-3xl);
}

.about h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-style: 24px;
  color: var(--blue);
}

.about span {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 55px;
  padding-bottom: var(--space-xl);
}

.about-content {
  width: 100%;
  display: grid;
  align-items: center;
  place-content: center;
  grid-template-columns: repeat(2, minmax(350px, 540px));
  gap: 50px;
}

.about-info {
  font-family: "Quicksand", sans-serif;
}

.about-info p {
  font-size: 18px;
}

.link-about-section {
  margin-top: 40px;
}

.link-about-section a {
  font-weight: 700;
  padding: var(--p-button);
  border-radius: var(--radius);
}

.link-about-section a:nth-child(1) {
  background-color: var(--blue);
  color: var(--white);
  border: 1px solid var(--blue);
  box-shadow: var(--shadow);
  margin-right: 30px;
}

.link-about-section a:nth-child(2) {
  background-color: var(--white);
  color: var(--blue);
  border: 1px solid var(--blue);
}

@media (width < 1170px) {
  .about-content {
    grid-template-columns: repeat(1, minmax(350px, 740px));
  }

  .link-about-section {
    text-align: center;
  }
}
