.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-block: var(--space-2xl);
}

.hero h2 {
  width: 50%;
  font-family: "Nunito Sans", sans-serif;
  color: var(--black);
  font-weight: 800;
  font-size: 64px;
  padding-bottom: 30px;
}

.hero p {
  width: 50%;
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: var(--gray);
  padding-bottom: 35px;
}

.hero a {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  background-color: var(--blue);
  border-radius: var(--radius);
  color: var(--white);
  padding: var(--p-button);
  box-shadow: var(--shadow);
  border: 1px solid var(--blue);
  margin-bottom: 80px;
}

.hero img {
  width: 100%;
  max-width: 890px;
}

@media (width < 1485px) {
  .hero p,
  .hero h2 {
    width: 80%;
  }
}
