.main-title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  color: var(--black);
  font-size: var(--font-2xl);
}

.title {
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--font-xl);
  font-weight: 800;
  margin-bottom: 15px;
}

.s-title {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: var(--font-lg);
  color: var(--blue);
  margin-bottom: 15px;
}
